.card.small {
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  height: 161px; }
  .card.small:hover .card-action {
    display: block; }
  .card.small .card-action {
    display: None; }
  .card.small .card-content .card-title {
    font-size: 16px;
    line-height: 24px; }
