$site_color: #6490cd;

.card.small {
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  height: 161px;
  &:hover {
    border: $site_color 3px solid;
  }
  .card-content {
    .card-title {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
