.card.small {
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  height: 161px; }
  .card.small:hover .card-content .open-button {
    display: block; }
  .card.small:hover .card-content .select-button {
    display: block; }
  .card.small:hover .card-content .menu-button {
    display: block; }
  .card.small .card-content .card-title {
    font-size: 16px;
    line-height: 24px; }
  .card.small .card-content .open-button {
    display: None;
    position: absolute;
    top: 10px;
    right: 10px; }
  .card.small .card-content .select-button {
    display: None;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white; }
    .card.small .card-content .select-button i {
      color: #85BEAB; }
    .card.small .card-content .select-button.selected {
      display: block;
      background-color: #85BEAB; }
      .card.small .card-content .select-button.selected i {
        color: white; }
  .card.small .card-content .menu-button {
    display: None;
    position: absolute;
    bottom: 10px;
    right: 10px; }
