body {
  font-family: GillSans, Calibri, Trebuchet, sans-serif; }

.toast_error {
  background-color: #FF5252; }

.btn-floating {
  background-color: #85BEAB; }
  .btn-floating i {
    color: white; }
