header.site-header nav {
  background-color: #6490CD; }

header.site-header .header-search-wrapper {
  display: inline-block;
  position: relative;
  margin: 10px auto 0 260px;
  width: calc(100% - 600px);
  height: 40px; }

header.site-header .material-icons {
  position: absolute;
  top: 6px;
  left: 24px;
  line-height: 32px; }

header.site-header .header-search-input {
  display: block;
  padding: 8px 8px 8px 72px;
  height: 24px;
  border: none;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3); }
  header.site-header .header-search-input:hover {
    background: rgba(255, 255, 255, 0.4); }
  header.site-header .header-search-input:focus {
    color: #333;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: none !important;
    box-shadow: none !important; }
